<button type="button" class="btn btn-{{ modifier }}">
    {{ label }}
</button>

<button type="button" class="btn btn-{{ modifier }}" disabled>
    {{ label-disabled }}
</button>

<a class="btn btn-{{ modifier }}" href="">
    {{ label-link }}
</a>
