<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar {{variant}}">
    <ul class="navbar-skiplinks">
        {{#if searchComponent}}
        <li>
            <a href="#suggest-search-query">Skip to search</a>
        </li>
        {{/if}}
        <li>
            <a href="#section-1 ">Skip to content</a>
        </li>
    </ul>
    <div class="container">
        {{#if hamburgerIcon}}
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            aria-controls="navbar-collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="navbar-toggler-icon" aria-hidden="true"></span>
        </button>
        {{/if}}
        {{#if logo}}
        <a class="navbar-brand" href="/">
            <span class="sr-only">Hoofdpagina</span>
            <div class="navbar-brand-container">
                {{#if light}}
                <img src="{{ assetPath '/img/beeldmerklabel.svg' }}" class="logo-labeled" alt="Logo Nijmegen">
                <img src="{{ assetPath '/img/beeldmerk.svg' }}" class="logo" aria-hidden="true" alt="">
                {{else}}
                <img src="{{ assetPath '/img/beeldmerklabelwit.svg' }}" class="logo-labeled" alt="Logo Nijmegen">
                <img src="{{ assetPath '/img/beeldmerkwit.svg' }}" class="logo" aria-hidden="true" alt="">
                {{/if}}
            </div>
        </a>
        {{/if}}
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {{#if menuComponent}}
            <ul class="navbar-nav mr-auto nijmegen-smooth-scroll">
                <li class="nav-item">
                    <a href="#section-1" class="nav-link">One</a>
                </li>
                <li class="nav-item">
                    <a href="#section-2" class="nav-link">Two</a>
                </li>
                <li class="nav-item">
                    <a href="#section-3" class="nav-link">Three</a>
                </li>
                <li class="nav-item">
                    <a href="#section-4" class="nav-link">Four</a>
                </li>
                <li class="nav-item">
                    <a href="https://nijmegen.nl" class="nav-link">External</a>
                </li>
            </ul>
            {{/if}}
        </div>
        {{#if searchComponent}}
        <div class="navbar__search">
            <button class="navbar__search-button" id="navbar-open-search">
                <span class="sr-only">Open zoekveld</span><span class="mdi mdi-magnify" aria-hidden="true"></span>
            </button>
            {{> '@autocomplete' }}
            <button class="navbar__search-close-button" id="navbar-close-search" aria-label="Sluit zoekveld">
                sluiten
            </button>
        </div>
        {{/if}}
    </div>
</nav>
