{{#if (objectLength changelog)}}
<h2>{{{title}}} {{#versionHasStyleOrScriptChanges changes}}<div class="Changelog-tooltip Changelog-warning">
        <div class="Changelog-tooltip-text">Some integrity hashes are changed, check the <a
                href="{{ docsPath 'how-to-use' }}#integrity-hashes">how to
                use</a> for the correct hashes</div>
    </div>{{/versionHasStyleOrScriptChanges}}</h2>
{{#each changelog as |changes type|}}
<h3>{{type}}</h3>
<ul>
    {{#each changes as |change|}}
    <li>
        <em>Component(s):</em>
        {{#each change.component as |component|}}
        <a href="{{ componentPath component }}">{{component}}</a>{{#unless @last}},{{/unless}}
        {{/each}}
        {{#if change.what}}
        <br />
        <em>Change(s):</em>
        {{#each change.what as |what|}}
        <strong>{{what}}</strong>{{#unless @last}},{{/unless}}
        {{/each}}
        {{/if}}
        {{#if change.description}}
        <br />
        <em>Description:</em> {{change.description}}
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/each}}
{{/if}}
