<div class="Status Status--tag">{{null~}}
    {{!-- The {{null~}} is here to strip whitespaces so it can be rendered in a table --}}
    <label class="Status-label" style="background-color: {{color}}; border-color: {{color}};">
        {{~label~}}
    </label>{{null~}}
</div>{{null~}}
