<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ path '/css/bootstrap.min.css' }}">
    <!-- Material Design Bootstrap -->
    <!-- link rel="stylesheet" href="{{ path '/css/mdb.min.css' }}" -->
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="{{ path '/css/main.css' }}">

    <title>Preview Layout</title>

    {{!--Underneath is just for preview mode needed in the component library--}}
    <style>
        body {padding: 1rem;}
    </style>
</head>
<body>

{{{ yield }}}

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ path '/js/jquery-3.1.1.min.js' }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ path '/js/tether.min.js' }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ path '/js/bootstrap.min.js' }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ path '/js/mdb.min.js' }}"></script>

{{#> scripts-block }}
    {{#if @partial-block}}
        {{> @partial-block }}
    {{/if}}
{{/scripts-block}}
</body>
</html>
