<div class="nijmegen-theme">
  <button class="utrecht-button{{class}}" type="button">{{ modifier }}</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}} utrecht-button--active" type="button">{{ modifier }} active</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}} utrecht-button--hover" type="button">{{ modifier }} hover</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}} utrecht-button--hover utrecht-button--focus utrecht-button--focus-visible" type="button">{{ modifier }} hover + focus-visible</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}} utrecht-button--focus" type="button">{{ modifier }} focus</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}} utrecht-button--focus utrecht-button--focus-visible" type="button">{{ modifier }} focus-visible</button>
</div>

<div class="nijmegen-theme">
  <button class="utrecht-button{{class}}" type="button">
  <nijmegen-icon-checkmark></nijmegen-icon-checkmark>Icon start
</button>
</div>
<div class="nijmegen-theme">
  <button class="utrecht-button{{class}}" type="button">
  Icon end<nijmegen-icon-arrow></nijmegen-icon-arrow>
</button>
</div>