<div class="nijmegen-theme">
  <button class="utrecht-button{{class}}" type="button">{{ modifier }}</button>

  <button class="utrecht-button{{class}} utrecht-button--active" type="button">{{ modifier }} active</button>

  <button class="utrecht-button{{class}} utrecht-button--hover" type="button">{{ modifier }} hover</button>

  <button class="utrecht-button{{class}} utrecht-button--hover utrecht-button--focus utrecht-button--focus-visible" type="button">{{ modifier }} hover + focus-visible</button>

  <button class="utrecht-button{{class}} utrecht-button--focus" type="button">{{ modifier }} focus</button>

  <button class="utrecht-button{{class}} utrecht-button--focus utrecht-button--focus-visible" type="button">{{ modifier }} focus-visible</button>
    <button class="utrecht-button{{class}}" type="button" style="vertical-align:bottom">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
    <path d="M16 3l0 4"></path>
    <path d="M8 3l0 4"></path>
    <path d="M4 11l16 0"></path>
    <path d="M8 15h2v2h-2z"></path>
  </svg> Icon start
</button>
  <button class="utrecht-button{{class}}" type="button">
  Icon end   <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 48 48"
    fill="currentColor"
    stroke="currentColor"
  >
    <title>Let op</title>
    <path d="M25.07 29.42c.28.28.42.64.42 1.08s-.14.8-.42 1.08c-.28.28-.64.42-1.08.42s-.8-.14-1.08-.42c-.28-.28-.42-.64-.42-1.08s.14-.8.42-1.08.64-.42 1.08-.42.8.14 1.08.42ZM24 25c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1s-1 .45-1 1v8c0 .55.45 1 1 1Zm16-1c0 8.82-7.18 16-16 16S8 32.82 8 24 15.18 8 24 8s16 7.18 16 16Zm-2 0c0-7.72-6.28-14-14-14s-14 6.28-14 14 6.28 14 14 14 14-6.28 14-14Z"></path>
  </svg>
</button>
</div>